<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="MarketingApp" connectionString="server=35.228.6.45; port=3306; DATABASE=MarketingApp; USER ID=root; PASSWORD=123456; charset = ascii;" />
      <add name="TradingCompany"     connectionString="server=DESKTOP-H605BH1\SQLEXPRESS; DATABASE=TradingCompany; USER ID=DESKTOP-H605BH1\Viktor; Integrated Security=True;" />

    </connectionStrings>
    <appSettings>
      <add key="provider" value="System.Data.SqlClient"/>
    </appSettings>
    <system.data>
          <DbProviderFactories>
            <add name="MysqlDataProvider" invariant="Mysql" description=".Net Data Provider for MySQL" type="MySql.Data.MySqlClient, Mysql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
            <add name="SqlClientDataProvider"
                 invariant="System.Data.SqlClient"
                 description=".Net Framework Data Provider for SqlServer"
                 type="System.Data.SqlClient.SqlClientFactory, System.Data,   
                 Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
          </DbProviderFactories>
    </system.data>
</configuration>